@charset "ISO-8859-1";

#content{
	min-height:420px;
}
#content h1{
	text-align:center;
}

#form{
	margin:1px 38% 0 39%;
	border:solid 3px #2e8b57;
	padding:10px 0px 10px 20px;
	border-radius:8px;
}

#addClient_0{
	float:right;
	margin-top:10px;
}